<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email"[ngClass]="{'bg-danger':loginForm.get('Email').errors}"  formControlName="Email" class="form-control" id="email" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" [ngClass]="{'bg-danger':loginForm.get('Password').errors}" formControlName="Password" class="form-control" id="password" >
  </div>
  <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
